@{
    ViewData["Title"] = "Balance";
}

<div class="row">
    <div class="col-md-3">
        <a href="/User/UserBets" id="bets" class="btn btn-primary">Bets</a>
    </div>
    <div class="col-md-3">
        <a href="/User/Transactions" class="btn btn-primary">Transactions</a>
    </div>
    <div class="col-md-3">
        <a href="/User/Deposit" class="btn btn-primary">Deposit</a>
    </div>
    <div class="col-md-3">
        <a href="/User/Withdraw" class="btn btn-primary">Withdraw</a>
    </div>
</div>