@model TeamViewModel

<div class="card">
    <div class="team-logo">
        @if(Model.ImageUrl != null)
        {
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        }
    </div>
    <div class="container">
        <h2>@Model.Name</h2>
        <p class="title">@Model.Country</p>
    </div>
</div>