@model GameDetailsModel
@await Html.PartialAsync("../Shared/_GameCardPartial.cshtml", Model.Game)

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="row">
    <div class="col-sm-6">
        @await Html.PartialAsync("../Shared/_LastFiveGamesPartial.cshtml", Model.LastFiveHome, new ViewDataDictionary(ViewData) { { "Team", Model.Game.HomeTeam.Id } })
    </div>
    <div class="col-sm-6">
        @await Html.PartialAsync("../Shared/_LastFiveGamesPartial.cshtml", Model.LastFiveAway, new ViewDataDictionary(ViewData) { { "Team", Model.Game.AwayTeam.Id } })
    </div>
</div>