<div class="container text-center">
    <div class="text-center">
        <a asp-action="Countries">Countries</a>
    </div>
    <div class="text-center">
        <a asp-action="Currencies">Currencies</a>
    </div>
    <div class="text-center">
        <a asp-action="Employees">Employees</a>
    </div>
    <div class="text-center">
        <a asp-action="Games">Games</a>
    </div>
    <div class="text-center">
        <a asp-action="Teams">Teams</a>
    </div>
    <div class="text-center">
        <a asp-action="Transactions">Transactions</a>
    </div>
</div>