@model IEnumerable<GameViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var game in Model)
    {
        @await Html.PartialAsync("../Shared/_GameCardPartial.cshtml", game);
    }
    @await Html.PartialAsync("../Shared/_GameBetsPartial.cshtml");
</div>