@model IEnumerable<GameViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<h2 class="text-center" style="background-color:red">@TempData["ErrorMessage"]</h2>
<div class="container">
    @foreach (var game in Model)
    {
        @await Html.PartialAsync("../Shared/_GameCardPartial.cshtml", game)
    }
    @await Html.PartialAsync("../Shared/_GameBetsPartial.cshtml")
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/betRate.js"></script>
<script src="~/js/bet.js"></script>
<script type="text/javascript">
    function getToken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
    }
</script>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}